tornado
traitlets
jupyterhub>=1.0.0
alembic
pluggy

# Docker Spawners:
dockerspawner>=0.11.0
docker

# LocalProcess Spawners
jhsingle-native-proxy>=0.2.0
plotlydash-tornado-cmd>=0.0.4
bokeh-root-cmd>=0.0.3
voila
voila-materialstream
