{% extends "page.html" %}

{% block main %}
<div id="main" class="container">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">


            <h2>Here are your own dashboards</h2>

            {% for dash in my_dashboards %}

            <p>{{ dash.name | escape }} 
                - <a href="{{ base_url }}hub/dashboards/{{ dash.user.name }}/{{ dash.urlname }}">View</a>
                - <a href="{{ base_url }}hub/dashboards/{{ dash.user.name }}/{{ dash.urlname }}/edit">Configure</a></p>

            {% endfor %}

            {% if not my_dashboards  %}
            <p>You have not created any dashboards yet</p>
            {% endif %}

            <p><a href="dashboards/new">+ ADD</a></p>


            <h2>Dashboards from others</h2>

            {% for username, dashlist in visitor_dashboard_groups.items() %}

                <h3>{{ username | escape }}</h3>

                <ul>
                {% for dash in dashlist|sort(attribute='name') %}

                    <li>
                        <a href="{{ base_url }}hub/dashboards/{{ dash.user.name }}/{{ dash.urlname }}">{{ dash.name | escape }}</a>
                    </li>

                {% endfor %}
                </ul>

            {% endfor %}

            {% if not visitor_dashboard_groups %}
            <p>No-one has shared any dashboards with you</p>
            {% endif %}

        </div>
    </div>
</div>
{% endblock main %}
