{% extends "page.html" %}

{% block main %}
<div id="main" class="container">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">


            <h2>Create a new dashboard.</h2>

            <form method="post">

            <p><label for="name">Enter a name for the dashboard:</label></p>

            <p><input type="text" name="name" value="{{ dashboard_name | escape }}" /></p>

            {% if errors.name %}

            <p class="error">{{ errors.name | escape }}</p>

            {% endif %}

            <input type="submit"/>
            
            </form>

            {% if errors.all %}

            <p class="error">{{ errors.all | escape }}</p>

            {% endif %}

        </div>
    </div>
</div>
{% endblock main %}
