{% extends "page.html" %}

{% block main %}
<div id="main" class="container">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">

            <h2>Dashboard {{ dashboard.name }}</h2>

            {% if dashboard.description %}
            <p>{{ dashboard.description | escape }}</p>
            {% endif %}

            <p>Owner: {{ dashboard_user.name }}</p>

            <p>Status: {{ status }}</p>

            <p>Created: {{ dashboard.created.strftime('%Y-%m-%d %H:%M:%S') }}</p>

            <p>Started: {{ dashboard.started.strftime('%Y-%m-%d %H:%M:%S') }}</p>

        </div>
    </div>

    <div class="row">
        <div class="text-center">
          {% if dashboard.final_spawner %}
          <a id="launch" role="button" class="btn btn-lg btn-primary" href="/user/{{ dashboard.user.name }}/{{ dashboard.final_spawner.name }}">
              Go to Dashboard
              </a>
          {% endif %}
        </div>
      </div>

</div>
{% endblock main %}

{% block script %}
{{ super () }}
<script type="text/javascript">
  // hook up event-stream for progress
  var dashboard_progress_url = "{{ progress_url | escape }}";

require(["../../dashboards-static/js/viewdashboard"]);
</script>
{% endblock script %}