{% extends "page.html" %}

{% block main %}
<div id="main" class="container">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">

            <p>This is the dashboard edit page of user {{ current_user.name }}</p>
            <p>Dashboard {{ dashboard.name }} ({{ dashboard.urlname }})</p>

            <form method="post">

                <p><label for="name">Dashboard name:</label></p>
    
                <p><input type="text" name="name" value="{{ dashboard_name | escape }}" /></p>
    
                {% if errors.name %}
    
                <p class="error">{{ errors.name | escape }}</p>
    
                {% endif %}


                <h3>Choose a server:</h3>

                {% for spawner in spawners %}

                <p>
                    <input type="radio" name="spawner_name" id="spawner-{{ spawner.name }}" 
                        value="{{ spawner.name }}"
                        {% if spawner_name == spawner.name %}checked{% endif %}/>
                    <label for="spawner-{{ spawner.name }}">{{ spawner.name | default('Default Server', true) | escape }} 
                        {% if spawner.active %} (ACTIVE) {% endif %}</label>
                </p>

                {% endfor %}

                {% if errors.spawner %}
    
                <p class="error">{{ errors.spawner | escape }}</p>
    
                {% endif %}


                <h3>Select Users:</h3>

                {% for visitor_tuple in all_visitors %}

                <p><label><input type="checkbox" name="all_visitors[]" value="{{ visitor_tuple[1].name | escape }}" {%if visitor_tuple[0] %}checked{% endif %}/>
                     {{ visitor_tuple[1].name | escape }}</label></p>

                {% endfor %}
                
    
                <input type="submit"/>
                
                </form>
    
                {% if errors.all %}
    
                <p class="error">{{ errors.all | escape }}</p>
    
                {% endif %}

        </div>
    </div>
</div>
{% endblock main %}
