<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}CDS Builder{% endblock %}</title>
  {% block head %}
  <link id="favicon" rel="shortcut icon" type="image/png" href="{{ static_url('favicon.ico') }}" />
  <!-- link href="{{static_url("dist/styles.css")}}" rel="stylesheet"></link -->
  {% endblock head %}
</head>
<body>
  {% block body %}

  {% block logo %}
  <div class="container">
    <div class="row">
      <div id="logo-container">
        <!-- img id="logo" src={% block logo_image %}"{{static_url("logo.svg")}}"{% endblock logo_image %} width="390px"  / -->
      </div>
    </div>
  </div>
  {% endblock logo %}

  {% block main %}
  {% endblock main %}

  {% block footer %}
  <div class="container">
    <div class="row text-center">
      <h3>CDS Builder</h3>
    </div>
  </div>
  {% endblock footer %}

  {% if extra_footer_scripts %}
  {% for script in extra_footer_scripts|dictsort %}
  <script>
    {{ script[1]|safe }}
  </script>
  {% endfor %}
  {% endif %}
  {% endblock body %}
</body>
</html>
