{% extends "page.html" %}

{% block main %}
<div id="main" class="container">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">

            <p>This is the dashboard view page of user {{ current_user.name }}</p>
            <p>Dashboard {{ dashboard.name }} ({{ dashboard.urlname }})</p>

            <p>Builder {{ builder }}.</p>

            <p>{% if builder.active %} ACTIVE {% endif %}</p>
            <p>{% if builder.pending %} PENDING {% endif %}</p>

            <p>Status: {{ status }}</p>

            <p>Build Pending: {{ build_pending }}</p>

            <p>Final Spawner: {{ dashboard.final_spawner }}</p>

            <p>Started time: {{ dashboard.started }}</p>

            {% if dashboard.final_spawner %}

            <p><a href="/user/{{ dashboard.user.name }}/{{ dashboard.final_spawner.name }}">Go to Dashboard</a></p>

            {% endif %}

        </div>
    </div>
</div>
{% endblock main %}
